<template>
  <Layout>
    <h1 class="mb-2 text-2xl font-semibold text-gray-900 dark:text-gray-200">
      {{ $page.post.title }}
    </h1>
    <p class="mb-4 font-light text-gray-700 dark:text-gray-400">
      {{ $page.post.date }}
    </p>
    <div class="flex flex-wrap mb-4 text-sm">
      <g-link
        v-for="tag in $page.post.tags"
        :key="tag.id"
        :to="tag.path"
        class="px-2 py-1 mb-4 mr-4 rounded-full bg-gray-300 dark:bg-gray-700 text-gray-700 dark:text-gray-300 hover:text-gray-300 hover:bg-gray-700 dark:hover:text-gray-700 dark:hover:bg-gray-300"
      >
        {{ tag.title }}
      </g-link>
    </div>
    <figure
      v-if="$page.post.image"
      class="flex flex-col"
    >
      <g-image
        :alt="$page.post.image.alt"
        :src="$page.post.image.path"
        class="mb-2"
      />
      <figcaption
        class="self-center mb-10 image-caption"
        v-html="$page.post.image.caption"
      />
    </figure>
    <div
      class="mb-16 prose dark:prose-light lg:prose-lg xl:prose-xl"
    >
      <VueRemarkContent />
    </div>
  </Layout>
</template>

<page-query>
query Post ($id: ID!) {
  post: blogPost(id: $id) {
    title
    date (format: "MMMM D, Y")
    summary
    path
    image {
      path
      caption
      alt
    }
    tags {
      id
      title
      path
    }
  }
}
</page-query>

<script>
import PostSeo from '../mixins/PostSEO'

export default {
  mixins: [PostSeo]
}
</script>
