<template>
  <Layout>
    <div class="py-16 mx-auto container-inner">
      <h1 class="text-3xl font-bold">
        A Series About Color
      </h1>
      <p class="mt-6">
        In this tutorial we look at various colors, and the images they produce in the human brain.
        We further improve some standard color schemes found online.
      </p>
      <div class="px-4 py-4 mt-8 rounded-lg bg-background-secondary">
        <h2 class="mt-2 text-2xl font-bold">
          Table of Contents
        </h2>
        <ul class="mt-6">
          <li
            v-for="post in $page.posts.edges"
            :key="post.id"
            class="mb-5 text-lg list-decimal list-inside"
          >
            <span class=""><g-link
              :to="post.node.path"
              class="text-copy-primary"
            >{{ post.node.title }}</g-link></span>
          </li>
        </ul>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query Posts {
  posts: allBlogPost (sortBy: "date", order: ASC, filter: { series: {eq: "color"} })  {
    totalCount
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        title
        date (format: "MMMM D, Y")
        summary
        path
      }
    }
  }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: 'A Series About Color'
  }
}
</script>
