<template>
  <Layout>
    <h1 class="text-2xl text-gray-900 dark:text-gray-100 font-semibold mb-5">
      Hello, world!
    </h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur excepturi labore tempore expedita, et iste tenetur suscipit explicabo! Dolores, aperiam non officia eos quod asperiores
    </p>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>
