<template>
  <details class="p-4">
    <summary>{{ summary }}</summary>
    <slot />
  </details>
</template>

<script>
export default {
  props: {
    summary: {
      type: String,
      required: true
    }
  }
}
</script>
